body {
    text-align: center;
    background-color: #030303;
    color: rgb(255, 0, 0);
    font-family: 'Consolas';
    font-weight: 900;
    font-size: 3.8rem;
    background-image: url('ASSETS/bg.jpg');
    background-size: cover; /* This will ensure the image covers the entire background */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-position: center; /* This will center the image */
    background-attachment: fixed;
}

#container, #display{
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 0, 0, 0.178);
    margin: 0 auto; /* Center the div horizontally */
}

h1{
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.027);
    font-weight: 900;
    margin: 0 auto;
}

#display {
    margin-top: 10px;
}

#buttons {
    margin-top: 0px !important;
    padding-top: 0px; /* Resetting padding to zero */
}

div {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 3.8rem;
    font-weight: 900;
    text-align: center;
}

#container {
    box-shadow: 10px 10px 20px red;
    transition: all 600.50ms;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

#container:hover {
    box-shadow: -10px -10px 20px red;
    cursor: pointer;
}

button {
    text-align: center;
    padding: 14px 20px;
    font-size: 1.4rem;
    color: rgba(255, 0, 0, 0.863);
    background-color: #111111;
    border-radius: 20px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.50s;
    margin: 0;
}

#stop{
    color: rgba(255, 0, 0, 0.863);
}
#start{
    color: rgba(17, 0, 255, 0.658);
}
#zero{
    color: rgba(255, 0, 0, 0.877);
}

button:hover {
    background-color: #000000;
}
