body{
    margin: 0;
    text-align: center;
    background-color: #030303;
    color: rgb(255, 0, 0);
    font-family: Consolas, "Courier New";
    font-weight: 900;
    font-size: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('ASSETS/bg.jpg');
    background-size: cover; /* This will ensure the image covers the entire background */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-position: center; /* This will center the image */
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px red;
    transition: all 600.50ms;
    backdrop-filter: blur(2px);
    width: 90%;   
    background-color: rgba(255, 0, 0, 0.178);
}

#clock-container:hover{
    box-shadow: -10px -10px 20px red;
    cursor: pointer;
}

#clock{
    font-family: Consolas, "Courier New", monospace;
    font-size: 3.8rem;
    font-weight: 900;
    text-align: center;
}